.backdrop {
    width: 100vw;
    height: 100vh;
    background: url("../img/featured.jpg") center center/cover;
}

#footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    background-color: #3F51B5;
}

.d-flex {
    display: flex;
    flex-direction: column;
}

.r-flex {
    display: flex;
    align-content: center;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.scrollY {
    overflow-y: auto;
    max-height: 40vh;
}

.pt-1 {
    padding-top: 25rem;
}

.py-1 {
    padding: 0 3rem 0 3rem;
}

.w-1 {
    width: 20rem;
}

.w-2 {
    width: 10rem;
}

.mt-1 {
    margin-top: 15vh;
}

.mt-2 {
    margin-top: 5vh;
}

.my-1 {
    margin: 2vh 0;
}

.ml-1 {
    margin-left: 1rem;
}

.bg-white {
    background-color: white;
}

.header-1 {
    font-size: 3rem;
}

.f-1 {
    font-size: 1.5rem;
}

.no-underline {
    text-decoration: none;
}

.color-main {
    color: #3F51B5;
}

.text-white {
    color: white;
}