.backdrop {
    width: 100vw;
    height: 100vh;
    background: url("../img/featured.jpg") center center/cover;
}

#footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    background-color: #3F51B5;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.pt-1 {
    padding-top: 25rem;
}

.header-1 {
    font-size: 2rem;
}

.f-1 {
    font-size: 1.5rem;
}

.no-underline {
    text-decoration: none;
}

.color-main {
    color: #3F51B5;
}

.text-white {
    color: white;
}